<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="side-bar">
    <!-- Topbar Start -->
  <div class="navbar-custom">
			<ul class="list-unstyled topnav-menu float-right mb-0">
                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <img src="/assets/images/admin-avatar.jpg" alt="user-image" class="rounded-circle">
                        <span class="pro-user-name ml-1">
                            <span id="user">
                               
                            </span>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                        <!-- item-->
                        <div class="dropdown-header noti-title">
                            <h6 class="text-overflow m-0">Xin chào !</h6>
                        </div>

                        <a class="dropdown-item notify-item logout">
                        	<form form-method="post" th:action=@{/logout}>
                        		<button type="submit" class="btn btn-light"><i class="mdi mdi-logout-variant"></i>Đăng xuất</button>
                        	</form>
                        </a>

                    </div>
                </li>
            </ul>
    <!-- LOGO -->
    <div class="logo-box text-center" style=" padding: 15px">
    	<span class="logo text-center">
            <img alt="" src="/assets/images/ait-side-bar.png" style="max-width:70%">
        </span>
     	
    </div>

    <!-- LOGO -->


    <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
      <li>
        <button class="button-menu-mobile waves-effect">
          <i class="mdi mdi-menu"></i>
        </button>
      </li>
    </ul>
  </div>
  <!-- end Topbar --> <!-- ========== Left Sidebar Start ========== -->
  <div class="left-side-menu">

    <div class="slimscroll-menu">

      <!--- Sidemenu -->
      <div id="sidebar-menu">
           <ul class="metismenu" id="side-menu">
               <li>
                   <a href="/home" class="waves-effect">
                       <i class="fas fa-chart-bar"></i></i>
                       <span> Chi nhánh </span>
                   </a>
               </li>

               <li>
                   <a href="javascript: void(0);" class="waves-effect">
                       <i class="fas fa-money-check-alt"></i>
                       <span> Quản lý nhân viên </span>
                       <span class="menu-arrow"></span>
                   </a>
                   <ul class="nav-second-level" aria-expanded="false">
                   		<li><a href="/create-employee">Tạo mới nhân viên</a></li>
                   		<li><a href="/skills">Danh sách kỹ năng</a></li>
                       	<li><a href="/employees">Danh sách nhân viên</a></li>
                       	<li><a href="/hidden-employees">Danh sách nhân viên đã nghỉ</a></li>
                   </ul>
               </li>

               <li>
                   <a href="javascript: void(0);" class="waves-effect">
                       <i class="fas fa-tasks"></i>
                       <span> Quản lý chi nhánh </span>
                       <span class="menu-arrow"></span>
                   </a>
                   <ul class="nav-second-level" aria-expanded="false">
                      	<li><a href="/offices">Danh sách chi nhánh</a></li>
                      	<li><a href="/officeHidden">Danh sách chi nhánh đã xóa</a></li>
                   </ul>
               </li>
           </ul>
        </div>
      <!-- End Sidebar -->
    </div>
    <!-- Sidebar -left -->

  </div>
  <!-- Left Sidebar End -->
</div>
</html>