<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--Modal Edit-->
<div th:fragment="editModalEmployee" class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Chỉnh sửa nhân viên</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="edit-employee">
          <fieldset class="row g-3">
            <div>
              <input type="text" hidden class="form-control" id="employee_id" name="employee_id" value="">
            </div>
            <div class="col-md-6">
              <label for="employee_name" class="form-label">Tên nhân viên</label>
              <input type="text" class="form-control" id="employee_name" name="employee_name" required value="">
            </div>
            <div class="col-md-6">
              <label for="employee_dob" class="form-label">Ngày sinh</label>
              <input type="date" class="form-control" id="employee_dob" name="employee_dob" required value="">
            </div>
            <div class="col-md-6">
              <label for="employee_address" class="form-label">Địa chỉ</label>
              <input type="text" class="form-control" id="employee_address" name="employee_address" required value="">
            </div>
            <div class="col-md-6">
              <label for="date_start" class="form-label">Ngày bắt đầu làm việc</label>
              <input type="date" class="form-control" id="date_start" name="date_start" required value="">
            </div>
            <div class="col-md-6">
              <label for="employee_introduce" class="form-label">Giới thiệu bản thân</label>
              <textarea type="text" class="form-control" id="employee_introduce" name="employee_introduce" required value=""></textarea>
            </div>
            <div class="col-md-6">
              <label>Chi nhánh</label>
              <select class="form-control" name="office" id="office" required value="">

              </select>
            </div>
            <div class="col-lg-12">
                <label>Kỹ năng </label>
                <textarea type="text" disabled class="form-control" id="list_skill" name="list_skill" value="" style="margin-bottom:20px"></textarea>
                <select class="form-control selectpicker" multiple name="employee_skill" id="employee_skill" value="">
                </select>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary dismiss-modal" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary save-employee">Cập nhật</button>
      </div>
    </div>
  </div>
</div>
</html>