	<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>HOME</title>
  <div th:replace="/dashboard/layout/head::head"></div>
  <style>
    .error{
      color: red;
      font-style: italic;
    }
    td{
      max-width: 150px;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
    }
  </style>
</head>

<body>

<!-- Begin page -->
<div id="wrapper">

  <div th:replace="/dashboard/layout/side-bar::side-bar"></div>

  <!-- ============================================================== -->
  <!-- Start Page Content here -->
  <!-- ============================================================== -->

  <div class="content-page">
    <div class="content">

      <!-- Start Content-->
      <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
          <div class="col-12" style="margin-top: 10px;">
            <div class="page-title-box">
              <h4 class="page-title">Quản lý nhân viên</h4>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <!-- end page title -->

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h4 class="header-title mb-4">Danh sách nhân viên đã nghỉ</h4>
                <div class="table-responsive">
                  <table class="table table-centered mb-0 table-nowrap" id="employeeList">
                    <thead>
                      <tr>
                        <th>Tên nhân viên</th>
                        <th>Ngày sinh</th>
                        <th>Địa chỉ</th>
                        <th>Giới thiệu bản thân</th>
                        <th>Ngày bắt đầu làm việc</th>
                        <th>Chi nhánh</th>
                        <th>Kỹ năng</th>
                        <th class="text-center"></th>
                      </tr>
                    </thead>

                    <tbody>

                    </tbody>
                  </table>
                </div>
                <!-- end .table-responsive-->
              </div>
              <!-- end card-body -->
            </div>
            <!-- end card -->
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->

      </div>
      <!-- end container-fluid -->

    </div>
    <!-- end content -->

  </div>

  <!-- ============================================================== -->
  <!-- End Page content -->
  <!-- ============================================================== -->

</div>
<!-- END wrapper -->
</body>
<div th:replace="dashboard/layout/scripts::scripts"></div>
<script src="/assets/js/manager/hiddenListEmployee.js"></script>
</html>