<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Employee Management AIT</title>
  <div th:replace="/dashboard/layout/head::head"></div>
</head>

<body>
<!-- Begin page -->
<div id="wrapper">
  
	<div th:replace="/dashboard/layout/side-bar::side-bar"></div>
  <!-- ============================================================== -->
  <!-- Start Page Content here -->
  <!-- ============================================================== -->

  <div class="content-page">
    <div class="content">

      <!-- Start Content-->
      <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
          <div class="col-12">
            <div class="page-title-box">
              <h4 class="page-title">Xin chào !</h4>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <!-- end page title -->

        <div class="row">
          <div class="col-xl-6 col-sm-6">
            <div class="card bg-pink">
              <div class="card-body widget-style-2">
                <div class="text-white media">
                  <div class="media-body align-self-center">
                    <h2 class="my-0 text-white"><span data-plugin="counterup">50</span></h2>
                    <p class="mb-0">Chi nhánh</p>
                  </div>
                  <i class="ion-md-eye"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-6 col-sm-6">
            <div class="card bg-purple">
              <div class="card-body widget-style-2">
                <div class="text-white media">
                  <div class="media-body align-self-center">
                    <h2 class="my-0 text-white"><span data-plugin="counterup">12056</span></h2>
                    <p class="mb-0">Nhân viên</p>
                  </div>
                  <i class="ion-md-paper-plane"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- end container-fluid -->
    </div>
    <!-- end content -->
  </div>

  <!-- ============================================================== -->
  <!-- End Page content -->
  <!-- ============================================================== -->

</div>

</body>
<div th:replace="/dashboard/layout/scripts::scripts"></div>
</html>