<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="/assets/css/sweetalert2.min.css"> -->
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/app.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="img js-fullheight" style="background-image: url(assets/images/bg.jpg);">
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <img src="/assets/images/logo.svg" style="max-height:50%; margin-top:15%" alt="image">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-6">
                <div class="login-wrap p-0">
                    <h3 class="mb-4 text-center">AUREOLE IT INC</h3>
                    <form action="#" class="signin-form">
                        <div class="form-group col-lg-11 mb-3">
                            <input type="text" class="form-control" id="username" name="username" placeholder="Tên đăng nhập" required autofocus>
                        </div>
                        <div class="form-group col-lg-12 mb-3">                 
                        	<div class="row">
                        		<div class=" form-group col-lg-11">
                        			<input type="password" id="password" name="password" class="form-control" placeholder="Mật khẩu" required>
                        		</div>
                        		<div class="form-group col-lg-1" style="display: flex; justify-content: center; align-items: center">
                        			<span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        		</div>
                        	</div>
                        </div>
                        <div class="form-group mb-3 col-lg-11">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            <button type="button" class="form-control btn btn-primary btn-block px-3" id="btnLogin" >Đăng nhập</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
<script src="/assets/js/popper.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/main.js"></script>

<script>
    function loginHandle() {
        let customer = {
            username: $("#username").val(),
            password: $("#password").val()
        };

        $.ajax({
            type: "POST",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/login",
            data: JSON.stringify(customer)
        }).done((user) => {
        	console.log(user)
            if  (user.roles[0].authority === "ADMIN"){
                window.location.href = "home";
            } else {
                window.location.href = "login";
            }
            App.setCookie("JWT", user.token);
        }).fail(() => {
            App.showErrorAlert("Đã xảy ra lỗi. Vui lòng kiểm tra tên đăng nhập hoặc mật khẩu!");
        });
    }
    $("#btnLogin").on("click",loginHandle);
</script>
	
</body>
</html>



